/*--------------------------------------------------
	GRID
--------------------------------------------------*/

.product-description{
    word-wrap: break-word;
}

.inner-grid{
    border: 1px solid #bebebe;
    border-bottom-width: 3px;
}

.product-name{
background-color : rgba(43, 117, 152, 0.25);
}
.product-image{
    height: 200px;
    background-color: #E8E8E8;
}